@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    }

nav {
width: 600px;
}

nav ul {
list-style: none;
display: flex;
justify-content: space-between;
align-items: center;
}

nav a {
text-decoration: none;
color: black;
}

.blackHeart {
width: 20px;
margin-right: 1rem;
}
.npm{
    width: 55px;
    margin-right: 1rem;
}
.search{
    width: 20px;
    margin-right: 1rem;
    position: absolute;
    top: 9%;
    right: 86%;
    transform: translateY(-50%);
}
form label{
    background-color: rgba(0,0,0,.05);
}
form input{
    background-color: rgba(0,0,0,.05);
    width: 1000px;
}
form button{
    background-color: #fb3e44;
    color: white;
}
#first-section{
    height: 400px;
    background-color: rgba(232, 217, 217, .3);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
#first-section div {
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-1-title{
    font-size: 60px;
    font-weight: 900;
}

.section-1-description{
    width: 475px;
    text-align: center;
}
.section-1-buttons{
    display: flex;
}
.section-1-buttons div{
    margin-right:10px;
    margin-left:10px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

.see-plans{
    background-color: #fb3e44 !important; 
    color: white;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}




#second-section{
    height: 600px;
    background-color: rgba(232, 217, 217, .3);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
#second-section div {
    margin-top: 10px;
    margin-bottom: 10px;
}
.second-section-title{
    font-size: 31px;
    font-weight: 900;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
}

.second-section-description{
    width: 702px;
    text-align: center;
}
.svg-image-section-2{
    width: 171px;
    margin-bottom: 40px;

}

.third-section-div{
    display:flex;
}
.third-section-div div{
    margin-left: 10px;
    margin-right: 10px;
}

.third-section-card svg{
    width:30px;
    margin-top:20px;
    margin-bottom: 10px;
    margin-left:15px;
}

.third-section-title{
    color:#ED1C24;
    margin-bottom:15px;
    font-weight: bold;
}

.create-org-btn{
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.create-org-btn a {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}